html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	background: white;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	display: flex;
}

my-combobox {
	margin: auto;
	position: relative;
	width: 400px;
	color: #000;
}

my-combobox.active .datalist-ul {
	display: block;
}

my-combobox .datalist-input {
	padding-left: 1em;
    position: relative;
	width: 100%;
	height: 54px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: none;
	border: 1px solid #ccc;
	outline: 0;
}

my-combobox .datalist-input:focus {
	border: 1px solid #059862;
	outline: 0;
}

my-combobox .datalist-input.error{
    border: 1px solid #f00;
}

my-combobox .datalist-input.error::before{
    content: "";
    
}

my-combobox .warning{
    display: none;
    background: #fff;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #ddd;
    padding: 3px;
}

my-combobox .datalist-input.error:hover + .warning{
    display: block;
}

my-combobox img {
	position: absolute;
	right: 0px;
    top: 50%;
    cursor: pointer;
    width: 30px;
    height: 100%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    border-left: 1px solid #ccc;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

my-combobox img:hover{
    background: #ccc;
}

my-combobox .datalist-input:focus ~ img{
    border-left: 1px solid #059862;
}

my-combobox .datalist-input.error ~ img{
    border-left: 1px solid #f00;
}

my-combobox img::before{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
my-combobox .datalist-ul {
	display: none;
	position: absolute;
	margin: 5px 0 0 0;
	padding: 0;
	width: 100%;
	max-height: 200px;
	top: 100%;
	left: 0;
	list-style: none;
	border-radius: 2px;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
	z-index: 100;
}

my-combobox .datalist-ul li {
	display: block;
	text-align: left;
	padding: 0.8em 1em 0.8em 1em;
	color: #999;
	cursor: pointer;
	display: flex;
	align-items: center;
}

my-combobox .datalist-ul li img{
	position: relative;
	color: #fff;
	visibility: hidden;
	border: none;
	align-self: center;
	transform: none;
}

my-combobox .datalist-ul li.active{
    background: #059862;
	color: #fff;
}

my-combobox .datalist-ul li.active img{
	visibility: visible;
}

my-combobox .datalist-ul li:hover {
	background: #ccc;
	color: #fff;
}
